.formulario{
    margin: 0 auto;
    width: 40%;

    border-radius: 4px;
    border: 2px solid #f2f2f2;

    display: flex;
    flex-direction: column;
    gap: 16px;

    align-items: center;
    padding: 12px;
}

input{
    background-color: #fafafa;
    height: 40px;
    width: 80%;

    border-radius: 8px;
    border: 1px solid #f2f2f2;

    outline: none;
    /* Quando clico no input aparece uma borda preta, para tirar isso, usa o outline: none */
}

/* Foi preciso criar uma DIV para a configuração do formulário não interferir no site
Com isso criei uma classe de input-area e fui mais especifico em criar uma classe que fosse
filho de input para deixar o tamanho desejado e coloquei uma mensagem de texto de erro*/
.input-area{
    display: flex;
    flex-direction: column;

    width: 80%;
}

.input-area input{
    width: 100%;
}

.texto-erro{
    color: red;
    /* Para a mensagem não ficar colada no input */
    margin: 4px;
}

button{
    background-color: #4bb4f8;
    color: white;

    font-size: 16px;

    height: 40px;
    width: 80%;
  
    border-radius: 8px;
    border: none;
    /* border: none - Tirar as bordas*/
}

/* button:hover - Quando posicionar o mouse em cima do button irá trocar a cor */
button:hover{
    background-color: #2985c2 ;
}

a{
    color: #707b88;
    font-size: 14px;
}

.input-error{
    border-color: red;
}

/* -------------------------------- 
Estilização Tela Home
-------------------------------- */

#body-home {
    margin: 0;
}

.container{
    display: flex;
}

.slidebar{
    background-color: #707b88;
    color: white;
    width: 200px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    /* Incluir padding e borda na largura total */
    overflow-y: auto;
    /* Adiciona barra de rolagem apenas quando necessário no eixo y 
    Position fixed faz com que o slide bar fique travado na tela, ou seja, acrescento o scroll nas imagens
    mas o slidebar fica 100vh de tamanho da tela, mas ele fica na frente do grid*/
    position: fixed;
}

.slidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* Ul tem uma margem padrão, por isso tivemos que zerar. */
}

.slidebar li {
    margin-bottom: 20px; 
    /* Espaçamento dos elementos do slide bar */
    font-size: 24px;
}

.slidebar a {
    color: white;
    text-decoration: none;
}

.content-explorar{
    flex: 1;
    padding: 20px;
    background-color: #fafafa;
}

.content{
    flex: 1;
    padding: 20px;
    background-color: #fafafa;
    margin-left: 200px;
}

.galeria-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item{
    flex-basis: calc(33.33% - 10px); 
    /* Permitir que a coluna caiba 3 fotos e se ajuste se necessário */
    margin-bottom: 10px;
}

.galeria-fotos img {
    width: 100%;
}

/* Estilos Explorar */

/* Formatando sem a função grid 
.container-grid{
    width: calc(80% - 200px);
     Usou o calc com menos 200px pois o tamanho do slide bar é de 200px 
    margin: 0 auto;
}

.container-grid img{
    width: 200px;
}
*/


/* Formatando com a função GRID */

.container-grid-layout{
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
   /* Se faz necessário pois fixei o slidebar em 200px  */
  margin-left: 200px;
}

.container-grid-layout img{
width: 100%;
height: auto;
  }


/* -------------------------------- 
Estilização Seguidores
-------------------------------- */

.tabela-seguidores{
    width: 100%;
    border: 0;
}

.tabela-seguidores thead{
    background-color: #4bb4f8;
    color: white;
}

.tabela-seguidores tbody tr{
    height: 50px;
}

.tabela-seguidores tbody td{
text-align: center;
}

.tabela-seguidores tbody td img{
    border-radius: 50%;
    width: 80px;
}

#input-pesquisa{
    width: 100%;
    margin-bottom: 20px;
}

.observation-mensagem{
    width: 100%;
    background-color: #4bb4f8;
    color: white;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #4bb4f8;
    font-size: 18px;
    margin-bottom: 5px;
}

.disabled-mensagem{
display: none;
}